form {
  padding-right: 1em;
}

.lh-0{
  line-height: 0;
}

@media screen and ( min-width: 1200px) {
  .search-field {
    max-width: 400px;
  }
}

@media screen and ( min-width: 1400px) {
  .search-field {
    max-width: 500px;
  }
}

.navbar-form .input-group { min-height: 2.5rem; }
.navbar-form .btn { border-color: var(--pg-stroke); }
@media (max-width: 575px) { form { padding-right: .4rem; } }
